<launch>

  <!-- respeaker_ros -->
  <include file="$(find respeaker_ros)/launch/en-respeaker.launch"/>

  <!-- Turtlebot -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

  <!-- Rotate to the source of the audio-->
  <node name="word_rotate" pkg="speech_rotate" type="word_rotate_v2.py"/>
</launch>
